:root {
  --dark: #2E2F42;
  --text: #434455;
  --accent: #F4F4FD;
  --light: #E7E9FC;
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --white: #ffffff; 
  --subbtle-text: #8E8F99;
  --green:#31D0AA;
  --modal: #FCFCFC;
  --terms: #757575;
}
  
.body{
  color: var(--text);
  font-family: "Roboto","Raleway", sans-serif;
}
.body a{
  text-decoration:none;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1140px) {
        width: 1140px;
    }
}

@media screen {
  .header-list,
  .header-address,
  .our-functional,
  .features-banner{
    position: absolute;
    right: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .webstudio{
    padding: 24px 0 24px 0;
    display: block;
    width: 100%;

  }
  .container{
    max-width: 100%;
    align-items: center;
  }
  .features-list,
  .photos-list,
  .team-list,
  .subscribe,
  .footer .container{
    flex-direction: column;
    justify-self: center;
    margin: 0;
  }

  .footer-subscribe{
    width: 100%;
  }
  .subscribe{
    display: block;
    width: 100%;
  }
  .subscribe button{
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe input{
    width: 100%;
  }

  .team-list{
    gap: 72px;
  }
  .team-background .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .customers ul{
    display: flex;
    flex-wrap: wrap;
    margin: -72px 0 0 -16px;
    gap: 0;
    justify-content: center;
  }
  .customers li{
    flex-basis: calc(100% / 2 - 16px);
    margin: 72px 0 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer .container{
    margin-top: -72px;
  }
  .watermark-footer,
  .footer-media,
  .footer-subscribe{
    margin: 72px 0 0 0;
    text-align: center;
  }
  h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
  }
  .features-header{
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
  }
  /* .features-text{

  } */
  .main-banner{
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .button-order{
    margin-top: 72px;
  }
  .hero-image{
    padding: 112px 0;
  }

  .footer{
    padding: 96px 0;
  }
  .open-mobile-modal{
    background-color: #31D0AA;
    fill: var(--dark);
    width: 32px;
    height: 22px;
    margin: 0;
    display: block;
    color: var(--dark);
  }
}